<mat-card *ngIf="brandvisible" class="row col-md-12">
    <app-brand-form></app-brand-form> 
</mat-card>
<mat-toolbar>
  <mat-form-field color="accent">
    <input matInput (keyup)="filterText($event.target.value)" placeholder="Filter" />
  </mat-form-field>
  <div class="menu-bar">
    <button class="newTicket" mat-button (click)="newBrand()"> New Brand</button>

  </div>
 
</mat-toolbar>
<div class="table-container mat-elevation-z8">
    <div class="mat-elevation-z8">
      <div class="loading-shade" *ngIf="isResultsLoading">
        <mat-spinner color="accent" *ngIf="isResultsLoading"></mat-spinner>
      </div>
    </div>
    <mat-table #table [dataSource]="dataSource "  matSort>
  
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
    
  
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Numéro </mat-header-cell>
        <mat-cell *matCellDef="let brand"> {{brand._id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let brand"> {{brand.name}} </mat-cell>
      </ng-container>
   
      
  
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let brand">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
           
            <button mat-menu-item (click)="editBtnHandler(brand._id)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteBtnHandler(brand._id)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="resultsLength" [showFirstLastButtons]="true" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
  </div>